body {
  margin: 0;
}
a{
  text-decoration:none;
}
.arrow-top{
  position: absolute;
  width: 80px;
  height: 100px;
  background-color: #ff0036;
  color: white;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  border: 10px solid black;
  z-index: 10;
  cursor: pointer;
}
.arrow-top:hover{
color: black;
}
.container-1{
  width: 84%;
  display: flex;
  margin: auto;
  justify-content: space-between;
 
}
.topbar {
  background-image: url(hover.jpg);
  background-size: cover;
  background-position: center center;
  height: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
  display: flex;
}
.navlinks {
  margin-top: 15px;
}

.navlinks a {
  margin-left: 20px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #a4a4a4;
}
.navlinks a:hover {
  color: #ffffff;
  border-top: 2px solid #ff0036;
  border-bottom: 2px solid #ff0036;
  padding: 10px 0 10px 0;
  transition: all 0.3s;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
.information p {
  font-family: lato;
  color: white;
  margin: 0;
}
.containertext {
  width: 1025px;
  display: flex;
  margin: auto;
  margin-top: 170px;
}
.information br {
  margin: auto;
}
.redtext {
  color: #ff0036;
}
.topbuttons {
  display: flex;
  flex-direction: row;

}
.btn-red {
  width: 170px;
  height: 50px;
  background-color: #ff0036;
  color: white;
  border: none;
  margin: 50px 10px 0 0;
  cursor: pointer;
}
.btn-black {
  width: 170px;
  height: 50px;
  background-color: #131313;
  color: white;
  border: none;
  margin: 50px 0 0 10px;
  cursor: pointer;
}

/*second bar*/

.about {
  height: 1175px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.preview {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin-top:50px;
}
.preview h1 {
  font-family: "Raleway";
  font-weight: bold;
}
.preview p {
  font-family: lato;
}

.second-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 1175px;
}
.adding {
  display: flex;
  width: 1150px;
  height: 390px;
  flex-direction: row;
}
.drop-down:first-child{
  margin-top: 50px;
}

.textunderbtn {
  border: 1px solid #e7e7e7;
  border-top: none;
  width: 544px;
  margin: 0;
  padding: 10px;
  font-family: lato;
  display: none;
}
.addingtext p {
  margin-bottom: 0;
}
.addingtext {
  font-family: lato;
}
.btn-plus {
  width: 565px;
  height: 40px;
  border: 1px solid #e7e7e7;
  display: flex;
}

.btn-plus a {
  margin-left: 50px;
  font-family: "raleway" medium;
  font-size: 20px;
}
.btn-plus2 a {
  margin-left: 50px;
  font-family: "raleway" medium;
  font-size: 20px;
}
.icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  justify-content: space-between;
  align-items: center;
}
.hearticon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bookicon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.phoneicon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.fireicon {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.icons p {
  font-family: lato;
}
.icons h3 {
  font-family: "raleway";
}
/*THIRD BAR*/
.portfolio {
  width: 100%;
  height: 270px;
  background-color: #262626;
  display: flex;
}
.smlcontainer {
  display: flex;
  width:40%;
  margin: auto;
  flex-direction: column;
}
.portfoilio-types {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.smlcontainer h1 {
  align-self: center;
  font-family: raleway;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.portfoilio-types h5 {
  font-family: lato;
  font-weight: bold;
  font-size: 16px;
  color: #a4a4a4;
}
.portfoilio-types h5:hover {
  color: #ff0036;
  transition: color 0.3s;
}
/*fourth bar*/
.fon-image {
  background-image: url(Layer111.png);
  background-position: center center;
  width: auto;
  width: 100%;
  height: 700px;
}
/*FIFTH BAR*/
.our-product {
  width: 100%;
  height: 990px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bottom-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-5 {
  width:90%;
  height: 990px;
  margin: auto;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.top-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.top-part h1 {
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 30px;
}
.top-part p {
  font-family: "lato";
  font-weight: bold;
  font-size: 16px;
}
.bottom-part {
  font-family: "raleway";
  font-weight: medium;
  font-size: 20px;
  margin-bottom: 50px;
}
.left-list,
.right-list {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 170px;
}
.left-block,
.right-block {
  width: 350px;
  border: 0.5px solid #dbdada;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.girlimg {
  width: 450px;
}
.left-block:hover,
.right-block:hover {
  background-color: #ff0036;
  color: white;
  transition: all 0.5s;
}
/*sixth bar*/
.container-6 {
  height: 100%;
  width:90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: white;
}
.our-clients {
  width: 100%;
  height: 650px;
  background-image: url(Rectangle6copy3.png);
  background-position: center center;
}
.top-part-clients{
  justify-content: space-around;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  margin-top:50px;
}
.bottom-part-clients {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.webstudios {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  width: 590px;
  height: 290px;
}
.clients-comments{
  height: 290px;
  width:590px;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
justify-content: space-between;
}
.bottom-studio{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.top-studio{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.bottom-studio:last-child{
  margin-right:5px;
}
.clients-comments h1{
  margin-top:5px;
}
.clients-comments img{
margin-left:20px;
font-family:raleway;
  font-weight:medium;
  font-size:20px;
}

.clients-comments p{
  display:flex;
  justify-content: center;
  margin:0;
  font-family:lato;
  font-weight:regular;
  font-size:16px;
  color:#a4a4a4;
}
.top-part-clients h1{
  font-family:raleway;
  font-weight:bold;
  font-size:30px;
}
.top-part-clients p{
  font-family:lato;
  font-weight:bold;
  font-size:16px;
  color:#a4a4a4;
}
.amr{
  font-family:raleway;
  font-weight:bold;
  font-size:16px;
   color:#a4a4a4;
   margin-bottom:5px;
}
.amr:hover{
  color:#ff0036;
  transition:all 0.3s;
}
.mini-buttons button{
  border:none;
  width:10px;
  height:10px;
}
.mini-buttons button:focus{
  background-color:#ff0036;
  transition:all 0.2s;
}
/*//////////slider/////////////////////////////////////////////////////*/
.wrapper{
  display: flex;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: auto;
  overflow: hidden;
}
.wrapper i{
  font-size: 30px;
  cursor: pointer;
position: absolute;
}
#right{
  left: 440px;
}
#left{
  left:200px;
}
#slider{

display: flex;
justify-content: center;
align-items: center;

position: relative;
}

.slider-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  position: absolute;
}
.slider-content img{
  width: 100%;
  height: 100%;
  margin: 0 0 0 20px;
}
/*////////////////////////seventh bar/////////////////////////////*/
.teamWork{
  width:100%;
  height:1400px;
  background-color:white;
  color:#505050;
  
}
.container-7{
  height:1400px;
  width:90%;
  display:flex;
  flex-direction:column;
  margin:auto;
  justify-content: space-around;
 
}
.teamworkPreview{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.teamworkPreview h1{
  font-family:raleway;
  font-weight:bold;
  font-size:30px;
}
.teamworkPreview p{
  font-family:lato;
  font-weight:bold;
  font-size:16px;
}
.teamPhoto{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.PHOTO{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.PHOTO h2{
  font-family:"raleway", medium;
  margin-top:30px;
  font-size:20px;
  margin-bottom:0;
}
.PHOTO p{
  font-family:"lato";
  font-size:16px;
}
.PHOTO img{
width:270px;
height:240px;
z-index:0;
}
.Skills{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.Skills h1{
  font-family:raleway;
  font-weight: bolder;
  font-size:30px;
}
.Skills p{
  font-family:lato;
  font-weight:bold;
  font-size:16px;
}
.percent{
  width:770px;
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  justify-self:center;
  align-self:center;
}
.percent h2{
  font-family:"raleway",medium;
  font-size:20px;
  margin:15px 0 0 5px;
}
.percent p{
  font-family:lato;
  font-size:16px;
}
.eachpercent{
  align-items:center;
  display:flex;
  flex-direction:column;
}
.eachpercent p{
 
  margin-bottom:0;
}
/*eights bar*/
.our-service{
  width:100%;
  height:1120px;
  background-color:#272727;
  color:white;
}
.container-8{
  height:100%;
  width:90%;
  margin:auto;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}
.ourServicePreview{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.first-column-features{
  display:flex;
  flex-direction:column;
  height:745px;
  justify-content: space-between;
}
.second-column-features{
  display:flex;
  flex-direction:column;
  height:745px;
  justify-content: space-between;
}
.space-between-columns{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.img-features{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.img-features h1{
  margin-left:30px;
}
.under-img-text{
  height:120px;
  width:550px;
  background-color:#3c3c3c;
  color:#a4a4a4;
  font-family:lato;
  font-size:15px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight: normal;
  transition:all 0.3s ease;
  margin-top:15px;
}
.under-img-text:hover{
  background-color:rgba(255,0,54,0.1);
  color:white;
  transition:all 0.3s;
}
/* ninth bar */
.plans{
  width:100%;
  height:920px;
  background:white;
}
.container-9{
  margin:auto;
  width:90%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
}
.ourPlansPreview{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.resseler{
  
  width:270px;
  height:525px;
  display:flex;
  flex-direction:column;
  
  border:1px solid #e7e7e7;
}
.black-top{
  color:white;
  height:70px;
  background-color:#262626;
  display:flex;
  justify-content: center;
  align-items:center;
  font-family:raleway;
  font-size:20px;
}
.price{
  height:90px;
  background-color:#f2f2f2;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  font-family:lato;
  font-size:50px;
  font-weight:bold;
  transition:all 0.3s;
}
.price:hover{
  background-color: #ff0036;
  color:white;
  transition:all 0.3s;
}
.year{
  font-family:lato;
  font-size:16px;
  font-weight:normal;
  margin:35px 0 0 5px;
}
.text-with-border{
  height:60px;
  display:flex;
  justify-content: center;
  align-items:center;
  border-bottom:1px solid #e7e7e7;
  font-family:lato;
  font-size:16px;
}
.bottom-btn-price{
  height:80px;
  display:flex;
    justify-content: center;
    align-items:center;
}
.bottom-btn-price button{
  width:225px;
  height:35px;
  background-color:#262626;
  color:white;
  border:none;
  font-family:raleway;
  font-size:18px;
  transition:all 0.3s;
}
.priceCards{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.bottom-btn-price button:hover,.bottom-btn-price button:focus{
  background-color: #ff0036;
  color:white;
  transition:all 0.3s;
}
.ourPlansPreview h1{
  font-family:raleway;
  font-size:30px;
}
.ourPlansPreview p{
  font-family:lato;
  font-size:16px;
  font-weight:bold;
}
/* twitter bar*/
.twitter-bar{
  width:100%;
  height:290px;
  background-image: url(twitter.jpg);
  background-position:left bottom;
  color:white;
}
.container{
  height:100%;
  width:1175px;
margin:auto;
display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
}
.twitter-review{
  display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
}
.twitter-review a, p{
  margin:0;
  font-family:lato;
}
.twitter-review i{
  font-size:40px;
  margin-bottom:20px;
  transition: all 0.3s ease;
}
.twitter-review i:hover{
  color:#ff0036;
  transition: all 0.3s ease;
}
.our-Blog{
  width:100%;
  height:900px;
  background-color:white;
}
.container{
  display:flex;
  flex-direction:column;
  width:84%;
  height:100%;
  justify-content:space-around;
}
.ourBlogPreview{
  display:flex;
  flex-direction:column;
  align-items:center;
}
.ourBlogPreview h1{
  font-family:lato;
  font-weight:bold;
  font-size:30px;
}
.ourBlogPreview p{
  font-family:lato;
  font-weight:bold;
  font-size:16px;
}
.blog-card{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.card-text{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  width:60%;
  height:200px;
}
.card-text ul {
  list-style-type: none;
  display:flex;
  flex-direction:row;
  color:grey;
  padding:0;
  margin:0;
}
.card-text li{
  margin-left:15px;
}
.card-text i{
  margin-right:8px;
}
.card-text li:first-child{
  margin-left:0;
}
.card-text button{
  width:115px;
  height:40px;
  border:none;
  background-color:#131313;
  color:white;
  font-size:16px;
  font-family:lato;
  transition:all 0.3s ease;
  cursor: pointer;
}
.card-text button:hover,.card-text button:focus {
  background-color:#ff0036;
  transition:all 0.3s ease;
}
.card-text h3{
  margin:0;
  font-family:lato;
  font-size:20px;
  font-weight:bold;
}
.card-text p{
  font-family:lato;
  font-size:16px;
  color:#505050;
}
.blog-card img:hover{
  opacity:0.5;
  transition:all 0.3s ease;
}
.blog-card img{
  transition:all 0.3s ease;
}
.blog-card:first-child{
  margin-bottom:45px;
}


.Follow{
  width:100%;
  height:100%;
  max-height:390px;
  background-image:url(hover.jpg);
  background-size:100%;
  background-repeat:no-repeat;
color:white;
}
.container-sml{
  height:100%;
  width:500px;
  display:flex;
  flex-direction:column;
  margin:auto;
  align-items:center;
  justify-content:center;
}

.rhombus-img {
  margin-top:40px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:100%;
}
.quantity{
  display:flex;
  flex-direction:column;
  justify-content:center;
 align-items:center;
}
.quantity a{
  margin-top:20px;
}
.Follow h1{
  margin-top:20px;
  font-family:lato;
  font-size:2em;
font-weight:bold;
}
.findUS{
  width:100%;
  height:260px;
  background-color:white;

}
.map{
  background-image:url(font.jpg);

width:100%;
height:530px;
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position:center center;
}
.map-container{
  width:820px;
  height:100%;
  margin:auto;
  
}
.coment{
  margin-top:230px;
  align-self:start;
}
.img-bar{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:flex-end;
  height:100%;
  position:relative;
}
.coment-text{
  width:275px;
  height:208px;
 align-self:start;

  margin-top:230px;
 color:white;
 font-family:lato;
  background-image:url(coment.png);
 text-decoration:none;
  
}
.coment-text ul{
list-style-type: none;
padding:0;
margin:30px 0 0 20px;
}
.coment-text a{
  color:white;
 font-family:lato;
}
.link:hover{
  color:#ff0036;
  transition:all 0.3s ease;
}
.input-bar{
  background-color:white;
  width:430px;
  height:430px;
  display:flex;
  flex-direction:column;

}
.simple-input{
  height:25px;
  width:345px;
  border:0.5px solid #a4a4a4;
  padding-left: 10px;
}
.input-coment{
  height:80px;
  width:345px;
  border:1px solid #a4a4a4;
}
.input-bar button{
  width:110px;
  height:35px;
  background-color:#272727;
  color:white;
  font-family:lato;
  font-size:15px;
  border:none;
  margin-left:235px;
cursor: pointer;
 
}
.container-input{
  width:350px;
  height:350px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  margin:auto;
}
.input-bar h1{
  font-family:raleway;
  font-size:20px;
}
.bottom{
  background-color:#262626;
  display:flex;
  flex-direction:row;
  color:#8e8e8e;
  align-items:center;
  height:70px;
  width:100%;
  justify-content:space-around;
}

.bottom a{

  font-family:lato;
}
.rules{
  color:red;
  display: none;
}
.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 11;
display: none;
}
.modalcontent{
margin: 200px auto ;
  width: 400px;
  height: 500px;
  background-color: white;
  z-index: 12;
border-radius: 10px;
padding: 15px;
}
.close{
  font-size: 40px;
  position: relative;
  left: 365px;
  top: 0;
  cursor: pointer;
  font-weight: bold;
}
.close:hover{
  color: #ff0036;
}
.close-btn{
width: 130px;
height: 40px;
border: none;
background-color: #ff0036;
border-radius: 10px;
color: white;
position: relative;
top:250px;
left: 255px;
font-weight: bold;
font-size: 16px;
cursor: pointer;
transition: all 0.3s ease;
}
